<footer id="footer" class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-footer">
                        <h2>Hakkımızda</h2>
                        <p>Merhaba! Ben Arif Kalaycı. Kişisel blogumda deneyimlerimi ve ilgi alanlarımı paylaşıyorum.</p>
                        <ul class="social">
                            <li><a href="https://github.com/arifist"><i class="icofont-github"></i></a></li>
                            <li><a href="https://www.instagram.com/arif.klyc/"><i class="icofont-instagram"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/arif-kalayci-01009721b/"><i class="icofont-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-footer f-link">
                        <h2>Hızlı Bağlantılar</h2>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <ul>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Anasayfa</a></li>
                                    <li><a href="/mySkills"><i class="fa fa-caret-right" aria-hidden="true"></i>Becerilerim</a></li>
                                    <li><a href="/about"><i class="fa fa-caret-right" aria-hidden="true"></i>Hakkımda</a></li>
                                    <li><a href="/cv"><i class="fa fa-caret-right" aria-hidden="true"></i>CV</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <ul>
									<li><a href="/contact"><i class="fa fa-caret-right" aria-hidden="true"></i>İletişim</a></li>
                                    <li><a href="/books"><i class="fa fa-caret-right" aria-hidden="true"></i>Kitaplar</a></li>
                                    <li><a href="/movies"><i class="fa fa-caret-right" aria-hidden="true"></i>Filmler</a></li>
                                    <li><a href="/musics"><i class="fa fa-caret-right" aria-hidden="true"></i>Müzikler</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-footer">
                        <h2>İletişim</h2>
                        <p>Eğer bir sorunuz veya öneriniz varsa, bana e-posta ile ulaşabilirsiniz.</p>
                        <ul class="contact-info" style="color: white;">
                            <li><i class="fa fa-envelope"></i><span >    Mail:    arif.kalayci44@gmail.com</span></span></li>
                            <li><i class="fa fa-phone"></i><span>    Telefon:    +90 545 606 6744</span></span></li>
                            <li><i class="fa fa-map-marker"></i><span>    Adres:    Samsun, Türkiye</span></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="copyright-content">
                        <p>© Tüm Hakları Saklıdır | 2024 | Arif Kalaycı</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
