		<!-- Header Area -->
		<header class="header" >
			<!-- Topbar -->
			<div class="topbar">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-5 col-12">
							<!-- Contact -->
							<ul class="top-link">

							</ul>
							<!-- End Contact -->
						</div>
						<div class="col-lg-6 col-md-7 col-12">
							<!-- Top Contact -->
							<ul class="top-contact">
								<li><i class="fa fa-envelope"></i><a href="mailto:arif.kalayci44@gmail.com">arif.kalayci44@gmail.com</a></li>
							</ul>
							<!-- End Top Contact -->
						</div>
					</div>
				</div>
			</div>
			<!-- End Topbar -->
			<!-- Header Inner -->
			<div class="header-inner">
				<div class="container">
					<div class="inner">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-12">
								<!-- Start Logo -->
								<div class="logo">
									<a href="/"><img src="/static/img/ak5.png" alt="#"></a>
								</div>
								<!-- End Logo -->
								<!-- Mobile Nav -->
								<div class="mobile-nav"></div>
								<!-- End Mobile Nav -->
							</div>
							<div class="col-lg-7 col-md-9 col-12">
								<!-- Main Menu -->
								<div class="main-menu">
									<nav class="navigation">
										<ul class="nav menu">
											<li class="active"><a href="/">Ana Sayfa</a></li>
											<li>
												<a href="#" onclick="return false;">Becerilerim <i class="icofont-rounded-down"></i></a>
                                                <ul class="dropdown">
                                                    <li><a href="/projects">Projelerim</a></li>
                                                    <li><a href="/experiences">Tecrübelerim</a></li>
                                                    <li><a href="/certificates">Sertifikalarım</a></li>
                                                </ul>
											</li>
											<li><a href="/cv">CV </a></li>
											<li><a href="/about">Hakkımda </a></li>
                                            <li>
                                                <a href="#" onclick="return false;">Hobilerim <i class="icofont-rounded-down"></i></a>
                                                <ul class="dropdown">
                                                    <li><a href="/books">Kitap</a></li>
                                                    <li><a href="/musics">Müzik</a></li>
                                                    <li><a href="/movies">Film</a></li>
                                                </ul>
                                            </li>                                                                                                            
											<li><a href="/contact">İletişim </a></li>
										</ul>

									</nav>
								</div>
								<!--/ End Main Menu -->
							</div>

						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Inner -->
		</header>
		<!-- End Header Area -->