<div class="col-lg-4 col-12">
    <div class="main-sidebar">
        <!-- Single Widget -->
        <div class="single-widget side-tags">
            <h3 class="title">Tags</h3>
            <ul class="tag">
                <li><a href="#">Programlama Dilleri</a></li>
                <li><a href="#">C#</a></li>
                <li><a href="#">Java</a></li>
                <li><a href="#">SQL</a></li>
                <li><a href="#">Flutter</a></li>
                <li><a href="#">Dart</a></li>
                <li><a href="#">Python</a></li>
                <li><a href="#">Yapay Zeka</a></li>
                <li><a href="#">Css</a></li>
                <li><a href="#">Asp.Net Core</a></li>
                <li><a href="#">Spring</a></li>

            </ul>
        </div>
        <!--/ End Single Widget -->
        <!-- Single Widget -->
        <div class="single-widget category">
            <h3 class="title">Başlıklar</h3>
            <ul class="categor-list">
                <li><a href="/projects">Projelerim</a></li>
                <li><a href="/experiences">Deneyimlerim</a></li>
                <li><a href="/certificates">Sertifikalarım</a></li>
            </ul>
        </div>
        <!--/ End Single Widget -->
        <!-- Single Widget -->
        <div class="single-widget recent-post">
            <h3 class="title">Son Gönderiler</h3>
            <!-- Single Post -->
            <div class="single-post">
                <div class="image">
                    <img src="static/img/sharp.png" alt="#">
                </div>
                <div class="content">
                    <h5><a href="/project4">Yapay Zeka Destekli Web Projesi...</a></h5>
                    <ul class="comment">
                        <li><i class="fa fa-calendar" aria-hidden="true"></i>Temmuz 3, 2024</li>
                    </ul>
                </div>
            </div>
            <!-- End Single Post -->
            <!-- Single Post -->
            <div class="single-post">
                <div class="image">
                    <img src="static/img/java.png" alt="#">
                </div>
                <div class="content">
                    <h5><a href="/project1">Araç Kiralama Backend Projesi...</a></h5>
                    <ul class="comment">
                        <li><i class="fa fa-calendar" aria-hidden="true"></i>Haziran 05, 2024</li>
                    </ul>
                </div>
            </div>
            <!-- End Single Post -->
            <!-- Single Post -->
            <div class="single-post">
                <div class="image">
                    <img src="static/img/nodejs.png" alt="#">
                </div>
                <div class="content">
                    <h5><a href="/project2">Matrix E-Ticaret Projesi...</a></h5>
                    <ul class="comment">
                        <li><i class="fa fa-calendar" aria-hidden="true"></i>Mayıs 09, 2024</li>
                    </ul>
                </div>
            </div>
            <!-- End Single Post -->
                                            <!-- Single Post -->
            <div class="single-post">
                <div class="image">
                    <img src="static/img/sharp.png" alt="#">
                </div>
                <div class="content">
                    <h5><a href="/project9">Asp.Net Core Projesi...</a></h5>
                    <ul class="comment">
                        <li><i class="fa fa-calendar" aria-hidden="true"></i>Mart 27, 2024</li>
                    </ul>
                </div>
            </div>
            <!-- End Single Post -->
                                            <!-- Single Post -->
            <div class="single-post">
                <div class="image">
                    <img src="static/img/python.png" alt="#">
                </div>
                <div class="content">
                    <h5><a href="/project3">NLP İle Doğal Dil İşleme...</a></h5>
                    <ul class="comment">
                        <li><i class="fa fa-calendar" aria-hidden="true"></i>Ocak 21, 2024</li>
                    </ul>
                </div>
            </div>
            <!-- End Single Post -->
            <div class="single-post">
                <div class="image">
                    <img src="static/img/flutter.png" alt="#">
                </div>
                <div class="content">
                    <h5><a href="/project6">Makinist Bilgilendirme Projesi...</a></h5>
                    <ul class="comment">
                        <li><i class="fa fa-calendar" aria-hidden="true"></i>Şubat 21, 2022</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/ End Single Widget -->
        <!-- Single Widget -->
        <!--/ End Single Widget -->
        <!-- Single Widget -->

        <!--/ End Single Widget -->
    </div>
</div>