<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Title -->
        <title>Arif Kalaycı</title>
		
		<!-- Favicon -->
		<%- include('../partials/link.ejs') %>

		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="stylesheet" href="/static/css/normalize.css">
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/nice-select.css">
		<link rel="stylesheet" href="/static/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/css/icofont.css">
		<link rel="stylesheet" href="/static/css/slicknav.min.css">
		<link rel="stylesheet" href="/static/css/owl-carousel.css">
		<link rel="stylesheet" href="/static/css/datepicker.css">
		<link rel="stylesheet" href="/static/css/animate.min.css">
		<link rel="stylesheet" href="/static/css/magnific-popup.css">
		<link rel="stylesheet" href="/static/css/responsive.css">
		
    </head>
    <body>
	

		<%- include('../partials/head.ejs') %>

		
		<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>Deneyimlerim</h2>
							<ul class="bread-list">
								<li><a href="/">Ana Sayfa</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active" >Deneyimlerim</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->
		
		<!-- Single News -->
		<section class="news-single section">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-12">
						<div class="row">
							<div class="col-12">
								<div class="single-main">

									<!-- News Text -->
										<div class="news-head">
											<img src="static/img/tec.jpg" alt="#">
										</div>
										<div class="meta">
											<div class="meta-right">
												<span class="views"><i class="fa fa-eye"></i>44 Görüntüleme</span>
											</div>
										</div>
										<h2 class="h2" style="color: black;">Deneyimlerim</h2>

										<br>
										<div class="project-card1">
											<div class="project-card1-header">
												<h2 class="project-card1-title">Pharmazone E-Ticaret
													Market Ltd Şti - Yazılım Geliştirme</h2>

											</div>
											<div class="project-card-body">
												<ul class="project-card-tech">
													<li>• Yapay zeka destekli web uygulamaları geliştirme</li>
													<li>• Kullanıcı dostu web arayüzü geliştirme</li>
													<li>• Python ile yapay zeka modeli oluşturma</li>
												  </ul>	
											</div>
										</div>
										<!-- turkcell -->
										<div class="project-card1">
											<div class="project-card1-header">
												<h2 class="project-card-title">BTK - Uygulama Atölyesi
											 </h2>

											</div>
											<div class="project-card1-body">
												<ul class="project-card-tech">
													<li>• ASP.NET Core ile web geliştirme</li>
													<li>• React ile web arayüz tasarımı</li>
													<li>• Flask ve ASP.Net ile Web API geliştirme</li>
													<li>• Python Keras ile yapay zeka modeli oluşturma</li>
												  </ul>												  
											</div>
										</div>	
										<!-- turkcell -->
										<div class="project-card1">
											<div class="project-card1-header">
												<h2 class="project-card-title">Samulaş A.Ş. - Mobil Uygulama Geliştirici
											 </h2>

											</div>
											<div class="project-card1-body">
												<ul class="project-card-tech">
													<li>• ASMobil Uygulama Geliştirme</li>
													<li>• Veri Tabanı Tasarımı</li>
												  </ul>													
											</div>
										</div>											
									</div>
											
                                    <!-- News Text -->
							</div>
						</div>
					</div>
					<!-- rightbar -->
					<div class="col-lg-4 col-12">
						<div class="main-sidebar">
							<!-- Single Widget -->
							<div class="single-widget side-tags">
								<h3 class="title">Tags</h3>
								<ul class="tag">
									<li><a href="#">Programlama Dilleri</a></li>
									<li><a href="#">C#</a></li>
									<li><a href="#">Java</a></li>
									<li><a href="#">SQL</a></li>
									<li><a href="#">Flutter</a></li>
									<li><a href="#">Dart</a></li>
									<li><a href="#">Python</a></li>
									<li><a href="#">Yapay Zeka</a></li>
									<li><a href="#">Css</a></li>
									<li><a href="#">Asp.Net Core</a></li>
									<li><a href="#">Spring</a></li>
					
								</ul>
							</div>
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<div class="single-widget category">
								<h3 class="title">Başlıklar</h3>
								<ul class="categor-list">
									<li><a href="/projects">Projelerim</a></li>
									<li><a href="/experiences">Deneyimlerim</a></li>
									<li><a href="/certificates">Sertifikalarım</a></li>
								</ul>
							</div>
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<div class="single-widget recent-post">
								<h3 class="title">Son Gönderiler</h3>
								<!-- Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="static/img/sharp.png" alt="#">
									</div>
									<div class="content">
										<h5><a href="/project4">Yapay Zeka Destekli Web Projesi...</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Temmuz 3, 2024</li>
										</ul>
									</div>
								</div>
								<!-- End Single Post -->
								<!-- Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="static/img/java.png" alt="#">
									</div>
									<div class="content">
										<h5><a href="/project1">Araç Kiralama Backend Projesi...</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Haziran 05, 2024</li>
										</ul>
									</div>
								</div>
								<!-- End Single Post -->
								<!-- Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="static/img/nodejs.png" alt="#">
									</div>
									<div class="content">
										<h5><a href="/project2">Matrix E-Ticaret Projesi...</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Mayıs 09, 2024</li>
										</ul>
									</div>
								</div>
								<!-- End Single Post -->
																<!-- Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="static/img/sharp.png" alt="#">
									</div>
									<div class="content">
										<h5><a href="/project9">Asp.Net Core Projesi...</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Mart 27, 2024</li>
										</ul>
									</div>
								</div>
								<!-- End Single Post -->
																<!-- Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="static/img/python.png" alt="#">
									</div>
									<div class="content">
										<h5><a href="/project3">NLP İle Doğal Dil İşleme...</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Ocak 21, 2024</li>
										</ul>
									</div>
								</div>
								<!-- End Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="static/img/flutter.png" alt="#">
									</div>
									<div class="content">
										<h5><a href="/project6">Makinist Bilgilendirme Projesi...</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Şubat 21, 2022</li>
										</ul>
									</div>
								</div>
							</div>
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<!--/ End Single Widget -->
							<!-- Single Widget -->
					
							<!--/ End Single Widget -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Start clients -->
	<div class="clients overlay">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-12">
					<div class="owl-carousel clients-slider">
						<div class="single-clients">
							<img src="/static/img/sharp2.png" alt="#">
						</div>
						<div class="single-clients">
							<img src="/static/img/java1.png" alt="#">
						</div>
						<div class="single-clients">
							<img src="/static/img/sql1.png" alt="#">
						</div>
						<div class="single-clients">
							<img src="/static/img/flutter.png" alt="#">
						</div>
						<div class="single-clients">
							<img src="/static/img/web.png" alt="#">
						</div>
						<div class="single-clients">
							<img src="/static/img/python.png" alt="#">
						</div>
						<div class="single-clients">
							<img src="/static/img/javascrpit.png" alt="#">
						</div>
						<div class="single-clients">
							<img src="/static/img/sqlserver.png" alt="#">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/Ens clients -->
		<!--/ End Single News -->
		
		<%- include('../partials/footer.ejs') %>

		<!--/ End Footer Area -->
		
		<%- include('../partials/script.ejs') %>

    </body>
</html>