<div class="project-list">
    <div class="project-personal-blog">
        <h2 class="project-title">Flask İle Web Projem</h2>
        <div class="project-details">
            <h3 class="project-subtitle">Proje Tanımı</h3>
            <p class="project-description">Bu proje, HTML, CSS ve Bootstrap kullanılarak tasarlanmış bir kişisel blog sitesidir. Bootstrap'in sunduğu hazır bileşenler ve grid sistemi kullanılarak modern ve kullanıcı dostu bir arayüz oluşturulmuştur. Backend tarafında ise Python kullanılarak Flask framework ile dinamik içerik yönetimi sağlanmıştır.</p>

            <h3 class="project-subtitle">Özellikler</h3>
            <ul class="project-description">
                <li>Anasayfa: Genel bir giriş sunar, son yazıların özetlerini içerir.</li>
                <li>Yazılar Sayfası: Ziyaretçiler blog yazılarını okuyabilir, arama yapabilir ve kategoriye göre filtreleyebilirler.</li>
                <li>Yazar Sayfası: Yazarın kişisel bilgileri ve iletişim bilgileri bulunur.</li>
                <li>Yorumlar: Ziyaretçiler yazılara yorum yapabilir ve diğer ziyaretçilerin yorumlarını görebilirler.</li>
                <li>Admin Paneli: Yönetici, yazı ekleme, düzenleme ve silme gibi işlemleri gerçekleştirebilir.</li>
            </ul>

            <h3 class="project-subtitle">Tasarım ve Teknolojiler</h3>
            <p class="project-description">Web sitesi, minimalist ve kullanıcı odaklı bir tasarım anlayışıyla hazırlanmıştır. Bootstrap'in sağladığı görsel uyum ve mobil uyumluluk avantajlarıyla, ziyaretçilerin farklı cihazlarda rahatlıkla gezinmesi hedeflenmiştir.</p>
            <p class="project-description">Python Flask kullanarak oluşturulan backend, veritabanı işlemlerini yönetir ve kullanıcıların site içeriğini dinamik olarak güncellemesini sağlar. Flask'ın esnek ve kullanımı kolay yapısı, projenin geliştirilmesini ve yönetilmesini kolaylaştırır.</p>

            <h3 class="project-subtitle">Sonuç</h3>
            <p class="project-description">Kişisel blog sitesi projesi, modern web teknolojilerini kullanarak estetik ve işlevsel bir deneyim sunmayı amaçlamaktadır. Hem frontend hem de backend tarafında kullanılan teknolojiler, siteyi güçlü kılarak ziyaretçilere interaktif ve keyifli bir kullanım sağlar.</p>
                                                      
        <div class="project-link">
            <a href="https://github.com/arifist/blog" target="_blank">Projeyi Webte İncele</a>
        </div>
    </div>
</div>